/* Divide the max width with 16 */

/* SMALLER DESKTOP  BELOW 1344px  */

@media (max-width: 84em) {
  .section-hero {
    max-width: 100%;
    height: 100%;
  }
  .img-news {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 20rem;
    width: 30rem;
  }
}

/********* LANSCAPE TABLETS  BELOW 1200px  *************/

@media (max-width: 75em) {
  .section-hero {
    width: 100%;
    height: 100vh;
  }
  html {
    font-size: 56.25%;
  }

  .other-link-1,
  .other-link-2 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .main-nav {
    height: 60vh;
  }
  .main-nav-link {
    font-size: 10rem;
  }
  .other-link-1 {
    margin-left: 47rem;
  }

  .other-link-2 {
    margin-left: 58rem;
  }
  /* SECTION -HERO */

  .hero-description-1 {
    font-size: 4.8rem;
  }
  .box {
    height: 35rem;
    width: 35rem;
    margin-right: 6rem;
  }

  /* SECTION-INFORMATION */
  .heading-secondary {
    font-size: 11rem;
  }
  .content-txt-3 {
    font-size: 3rem;
    width: 800px;
  }
  .news-1 {
    font-size: 2.4rem;
  }
  /* SECTION-PROJECT*/
  .heading-tertiary {
    font-size: 5rem;
  }
  .section-footer {
    height: 700px;
    padding-left: 11rem;
  }

  /* SECTION-INFORMATION */

  .h-line {
    width: 102rem;
  }
}

/*********  TABLETS  BELOW 944px  *************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  /* .main-nav {
    height: 100vh;
  } */
  .section-hero {
    width: 90%;
    height: 60vh;
  }
  .heading-primary {
    font-size: 3rem;
  }
  .hero-description-1 {
    font-size: 6rem;
  }
  .hero-description-2 {
    font-size: 1.4rem;
    margin-top: 4.8rem;
  }
  .heading-secondary {
    font-size: 8.6rem;
    line-height: 0.85;
    letter-spacing: 0.3;
  }
  .box {
    width: 30rem;
    height: 30rem;
    margin-top: 8rem;
  }
  .main-nav {
    height: 60vh;
  }
  .main-nav-link {
    font-size: 8rem;
  }
  .content-txt-3 {
    font-size: 2.4rem;
    font-weight: 300;
    width: 500px;
  }

  .heading-tertiary {
    font-size: 6rem;
  }
  .other-link-1 {
    margin-left: 47rem;
  }

  .other-link-2 {
    margin-left: 45rem;
  }
  .news-small {
    font-size: 1.6rem;
  }
  .news-big {
    font-size: 2.6rem;
  }

  .text-project a {
    font-size: 4.8rem;
  }
  .h-line {
    width: 102rem;
  }
  .btn-mobile-nav {
    font-size: 0.7rem;
  }
}

/********* SMALLER TABLETS  BELOW 704px  *************/
@media (max-width: 59em) {
  .heading-secondary {
    font-size: 7.8rem;
    line-height: 0.85;
    letter-spacing: 0.3;
  }

  .content-txt-3 {
    font-size: 3.2rem;
    font-weight: 300;
  }

  .heading-tertiary {
    font-size: 4rem;
  }

  .single-project {
    width: 600px;
    height: 400px;
  }

  .other-link-2 {
    margin-left: 36rem;
  }

  .footer-logo {
    width: 120px;
    height: 120px;
    margin-right: 9rem;
    margin-top: -4.8rem;
  }
  .copyright {
    font-size: 1.3rem;
  }

  .section-footer {
    height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .footer-nav {
    gap: 2.2rem;
  }
  .footer-link {
    font-size: 1.4rem;
  }
  .h-line {
    width: 78rem;
  }
  .custom-shape-divider-bottom-1704281029 svg {
    height: 20px;
  }
}

/********* Phones BELOW 544px  *************/
@media (max-width: 34em) {
  .container {
    padding: 4.8rem 2.4rem 4.8rem 2.4rem;
  }
  .heading-secondary {
    font-size: 5.8rem;
    line-height: 0.85;
    letter-spacing: 0.1;
  }
  .main-nav {
    height: 60vh;
  }
  .main-nav-link {
    font-size: 6rem;
  }
  .project-area {
    gap: 1.4rem;
  }
  .content-txt-3 {
    font-size: 2.4rem;
    font-weight: 300;
    width: 500px;
    align-items: center;
    line-height: 1.3;
  }
  .heading-tertiary {
    font-size: 3.8rem;
    line-height: 0.9;
  }

  .single-project {
    width: 200px;
    height: 300px;
  }
  .text-project a {
    font-size: 4rem;
  }

  .other-link-1 {
    font-size: 1.3rem;
    margin-left: 18.5rem;
  }
  .other-link-2 {
    font-size: 1.3rem;
    margin-left: 28rem;
  }

  .h-line {
    width: 60rem;
  }
  .news-small {
    font-size: 1.6rem;
    color: #555;
    font-weight: 400;
  }
  .news-big {
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }
  .news-smallest {
    font-size: 1.2rem;
  }

  .img-news {
    display: none;
  }

  .news-1 {
    padding: 2.4rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--5-cols {
    padding-top: 1.2rem;
  }
  .logo-col {
    margin-right: 8rem;
  }
  .nav-col {
    display: none;
  }
  .custom-shape-divider-bottom-1704281029 svg {
    height: 50px;
  }
  .section-footer {
    height: 60vh;
    padding-left: none;
  }
  .footer-logo {
    width: 120px;
    height: 120px;
    margin-top: 4.8rem;
  }
  .address-col {
    margin-top: 9.5rem;
  }
  .address {
    font-size: 1.4rem;
  }
}

/********* Phones BELOW 444px  *************/
@media (max-width: 34em) {
  .section-hero {
    height: 50vh;
  }
  .main-nav {
    height: 50vh;
  }
  .container {
    padding: 4.8rem 2.4rem 4.8rem 2.4rem;
  }
  .heading-primary {
    font-size: 1.8rem;
  }
  .hero-description-1 {
    font-size: 3.2rem;
  }

  .hero-description-2 {
    font-size: 1rem;
  }
  .box {
    height: 15rem;
    width: 15rem;
    margin-right: 4rem;
  }

  .heading-secondary {
    font-size: 5.6rem;
    line-height: 0.85;
    letter-spacing: 0.1;
  }
  .hero-text-box {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .content-txt-3 {
    font-size: 2rem;
    font-weight: 300;
    width: 350px;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
  }
  .heading-tertiary {
    font-size: 3.2rem;
    line-height: 0.9;
  }

  .other-link-1 {
    font-size: 1.3rem;
    margin-left: 9rem;
  }
  .other-link-2 {
    font-size: 1.3rem;
    margin-left: 16rem;
  }
  .single-project {
    width: 200px;
    height: 250px;
  }

  .h-line {
    width: 47rem;
  }
  .text-project a {
    font-size: 4rem;
  }
  .section-footer {
    height: 30vh;
  }
  .custom-shape-divider-bottom-1704281029 svg {
    height: 50px;
  }
  .footer-logo {
    width: 100px;
    height: 100px;
    margin-right: 3.2rem;
    margin-top: -2.6rem;
  }
  .address-col {
    margin-top: 0.1rem;
  }
  .address {
    font-size: 1.4rem;
  }
  .tel {
    font-size: 1.4rem;
  }

  .mail {
    font-size: 1.4rem;
  }
}

/********* Phones BELOW 400px  *************/
@media (max-width: 25em) {
  .box {
    height: 12rem;
    width: 12rem;
  }
  .hero-description-2 {
    font-size: 0.8rem;
  }
  .content-txt-3 {
    font-size: 2rem;
    width: 300px;
  }

  .text-project {
    font-size: 3rem;
  }
  .single-project {
    width: 150px;
    height: 200px;
  }
  .project-area {
    gap: 4rem;
  }
  .h-line {
    width: 60rem;
  }
  .other-link-1 {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  .other-link-2 {
    font-size: 1.3rem;
    margin-left: 10rem;
  }
}
